body {
background-size: cover;
font-family: "华文中宋",sans-serif;
font-weight:bold;
color: black;
text-align: center;
      }
#mlp{background-color:GhostWhite;}


h1 {
     font-family: Helvetica, Geneva, Arial,
           SunSans-Regular, sans-serif }
