html,body{
  font-family:sans-serif;
  color:#222;
}


#navbarResponsive{
  text-align:right;
}

.lead{
  padding-left:3rem;
}

.fun{
  width:100%;
  margin-bottom: 1rem;
}
#explanation{
  text-align: center;
}

footer{
  background-color:#3f3f3f;
  color:#d5d5d5;
  padding-top:2rem;
}

.light{
  border-top:1px solid #d5d5d5;
  width:75%;
}

button{
  border-width:0;
  background-color:#e9ecef;
}
